{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block content %}
<div class="card ms-5 mt-5 p-2 position-absolute top-50 start-50 translate-middle"" style="width: 18rem;">
{% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form class="form" action="{{ path('login') }}" method="post">
    <div class="mb-3">
        <label class="form-label" for="username">Email:</label>
        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}">
    </div>
    <div class="mb-3">
        <label class="form-label" for="password">Password:</label>
        <input class="form-control" type="password" id="password" name="_password">
    </div>
        <button class="btn btn-primary" type="submit">Se connecter</button>
    </form>
</div>
{% endblock %}
