
{% block content %}
        <h1>Horaires d'ouverture</h1>
        <table class="table ">
            <thead>
                <tr>
                    <th>Jour</th>
                    <th>Déjeuner</th>
                    <th>Dîner</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Lundi</td>
                    <td>11:30 - 14:30</td>
                    <td>18:30 - 22:30</td>
                </tr>
                <tr>
                    <td>Mardi</td>
                    <td>11:30 - 14:30</td>
                    <td>18:30 - 22:30</td>
                </tr>
                <tr>
                    <td>Mercredi</td>
                    <td>Fermé</td>
                    <td>Fermé</td>
                </tr>
                <tr>
                    <td>Jeudi</td>
                    <td>11:30 - 14:30</td>
                    <td>18:30 - 22:30</td>
                </tr>
                <tr>
                    <td>Vendredi</td>
                    <td>11:30 - 14:30</td>
                    <td>18:30 - 22:30</td>
                </tr>
                <tr>
                    <td>Samedi</td>
                    <td>11:30 - 14:30</td>
                    <td>18:30 - 22:30</td>
                </tr>
                <tr>
                    <td>Dimanche</td>
                    <td>11:30 - 14:30</td>
                    <td>18:30 - 22:30</td>
                </tr>
            </tbody>
        </table>
{% endblock %}
